.features {
  margin-bottom: 109px;
  padding: 110px 0;
  background-color: #f8f9fc;
}

.features__wrapper {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 $padding_tablet;
}

.features__title {
  margin: 0;
  margin-bottom: 53px;
  text-align: center;
}

.features__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__desc {
  margin: 0;
  margin-left: auto;

  h3 {
    margin: 6px 0 8px;
    font-size: 22px;
  }

  p {
    margin: 0;
    font-weight: $font_light;
  }
}

.features__item {
  display: flex;
  flex-wrap: wrap;
  width: 34%;

  &--area,
  &--parking,
  &--amenities,
  &--experience {
    .features__number {
      height: 93px;
      color: $color_text;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--area,
  &--parking {
    margin-bottom: 72px;
  }

  &--area {
    padding-left: 27px;

    .features__number {
      width: 108px;
      background-image: url("../img/features-area.svg");
    }

    .features__desc {
      width: calc(100% - 138px);
    }
  }

  &--parking {
    margin-left: auto;
    padding-left: 15px;

    .features__number {
      width: 72px;
      background-image: url("../img/features-parking.svg");
    }

    .features__desc {
      width: calc(100% - 102px);
      padding-right: 5px;
    }
  }

  &--amenities {
    width: 33%;
    padding-top: 69px;
    padding-left: 20px;
    border-top: 2px solid rgba($color_red_for_border, 0.2);

    .features__number {
      width: 108px;
      background-image: url("../img/features-amenities.svg");
    }

    .features__desc {
      width: calc(100% - 138px);
    }
  }

  &--experience {
    margin-left: auto;
    padding-left: 14px;
    padding-top: 69px;
    border-top: 2px solid rgba($color_red_for_border, 0.2);

    .features__number {
      width: 70px;
      background-image: url("../img/features-experience.svg");
    }

    .features__desc {
      width: calc(100% - 104px);
    }

    h3 {
      margin-bottom: 6px;
    }
  }

  &--equipment {
    position: absolute;
    top: 12px;
    left: 50%;
    flex-direction: column;
    width: 100%;
    max-width: 240px;
    min-height: 307px;
    padding: 20px 25px;
    color: $color_white;
    text-align: center;
    background-color: #1c3374;
    transform: translateX(-50%);

    .features__number {
      margin: 0;
      margin-top: 32px;
      font-size: 74px;
      font-weight: $font_bold;
      line-height: 1;
      color: $color_white;
      background-image: none;
    }

    .features__desc {
      width: 100%;
    }

    h3 {
      margin-bottom: 35px;
      font-size: 26px;
    }

    p {
      font-weight: $font_regular;
    }
  }
}

@media (max-width: $tablet_width) {
  .features {
    padding: 98px 0 87px;
    margin-bottom: 96px;
  }

  .features__title {
    margin-bottom: 41px;
  }

  .features__desc {
    h3 {
      margin-bottom: 4px;
      font-size: 20px;
    }
  }

  .features__item {
    width: 48%;
    padding: 0;

    &--area,
    &--parking,
    &--amenities,
    &--experience {
      .features__number {
        height: 86px;
      }
    }

    &--area,
    &--parking {
      margin-bottom: 317px;
    }

    &--area {
      .features__number {
        width: 89px;
        background-image: url("../img/features-area-tablet.svg");
      }

      .features__desc {
        width: calc(100% - 118px);
      }
    }

    &--parking {
      .features__number {
        width: 59px;
        background-image: url("../img/features-parking-tablet.svg");
      }

      .features__desc {
        width: calc(100% - 88px);
      }
    }

    &--amenities {
      .features__number {
        width: 89px;
        background-image: url("../img/features-amenities-tablet.svg");
      }

      .features__desc {
        width: calc(100% - 118px);
      }
    }

    &--experience {
      .features__number {
        width: 57px;
        background-image: url("../img/features-experience-tablet.svg");
      }

      .features__desc {
        width: calc(100% - 90px);
      }
    }

    &--equipment {
      top: 25.7%;
      width: 100%;
      max-width: 443px;
      min-height: auto;
      padding: 29px 70px 41px;

      .features__number {
        margin-top: 0;
      }

      h3 {
        margin-top: 4px;
        margin-bottom: 17px;
        font-size: 22px;
      }

      p {
        padding: 0 57px;
      }
    }

    &--amenities,
    &--experience {
      padding-top: 0;
      border-top: none;

      h3 {
        margin: 3px 0;
      }
    }
  }
}

@media (max-width: $mobile_width) {
  .features {
    padding: 66px 0;
    margin-bottom: 67px;
  }

  .features__wrapper {
    padding: 0;
  }

  .features__title {
    margin-bottom: 44px;
  }

  .features__item {
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;

    &--area,
    &--parking,
    &--amenities,
    &--experience {
      .features__number {
        height: 77px;
        margin: 0;
      }

      .features__desc {
        width: 73%;
        margin: 0 auto;
      }
    }

    &--area {
      margin-bottom: 37px;

      .features__number {
        width: 89px;
        background-image: url("../img/features-area-mobile.svg");
      }
    }

    &--parking {
      margin-bottom: 46px;

      .features__number {
        width: 59px;
        background-image: url("../img/features-parking-mobile.svg");
      }
    }

    &--amenities {
      margin-bottom: 37px;

      .features__number {
        width: 89px;
        background-image: url("../img/features-amenities-mobile.svg");
      }

      .features__desc {
        width: 70%;
        margin-top: 5px;
      }
    }

    &--experience {
      .features__number {
        width: 57px;
        margin-bottom: 2px;
        background-image: url("../img/features-experience-mobile.svg");
      }
    }

    &--equipment {
      position: relative;
      margin-bottom: 39px;
      padding: 34px 70px 46px;

      h3 {
        margin: 0;
        margin-bottom: 12px;
      }

      p {
        padding: 0;
      }
    }
  }
}
