.features {
  margin-bottom: 225px;
}

.features__wrapper {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 $padding_tablet;
}

.features__title {
  margin: 0;
  margin-bottom: 53px;
  text-align: center;
}

.features__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__desc {
  width: 57%;
  margin: 0;

  h3 {
    margin: 6px 0 8px;
    font-size: 22px;
  }

  p {
    margin: 0;
    font-weight: $font_light;
  }
}

.features__item {
  display: flex;
  flex-wrap: wrap;
  width: 34%;

  &--area,
  &--parking {
    margin-bottom: 78px;
  }

  &--area {
    padding-left: 27px;
  }

  &--parking {
    margin-left: auto;
    padding-left: 15px;

    .features__desc {
      width: 67%;
    }
  }

  &--amenities,
  &--experience {
    padding-top: 69px;
    border-top: 2px solid rgba($color_red_for_border, 0.2);
  }

  &--amenities {
    width: 33%;
    padding-left: 20px;
  }

  &--experience {
    margin-left: auto;
    padding-left: 18px;

    .features__desc {
      width: 70%;
    }
  }

  &--equipment {
    position: absolute;
    top: 12px;
    left: 50%;
    flex-direction: column;
    width: 100%;
    max-width: 240px;
    min-height: 307px;
    padding: 20px 25px;
    color: $color_white;
    text-align: center;
    background-color: #1c3374;
    transform: translateX(-50%);

    .features__number {
      margin: 0;
      margin-top: 32px;
      font-size: 74px;
      background: currentColor;
      -webkit-background-clip: text;
    }

    .features__desc {
      width: 100%;
    }

    h3 {
      margin-bottom: 35px;
      font-size: 26px;
    }

    p {
      font-weight: $font_regular;
    }
  }
}

.features__number {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  font-size: 71px;
  font-weight: $font_bold;
  line-height: 1;
  background-image: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  sub {
    font-size: 14px;
    font-weight: $font_regular;
    color: #2e35ac;
  }
}

@media (max-width: $tablet_width) {
  .features {
    margin-bottom: 190px;
  }

  .features__title {
    margin-bottom: 41px;
  }

  .features__desc {
    h3 {
      margin-bottom: 4px;
      font-size: 20px;
    }
  }

  .features__item {
    width: 48%;
    padding: 0;

    &--area,
    &--parking {
      margin-bottom: 324px;
    }

    &--parking {
      .features__desc {
        width: 71%;
      }
    }

    &--equipment {
      top: 26%;
      width: 100%;
      max-width: 443px;
      min-height: auto;
      padding: 29px 70px 41px;

      .features__number {
        margin-top: 0;
      }

      h3 {
        margin-top: 4px;
        margin-bottom: 17px;
        font-size: 22px;
      }

      p {
        padding: 0 57px;
      }
    }

    &--amenities,
    &--experience {
      padding-top: 0;
      border-top: none;

      h3 {
        margin: 3px 0;
      }
    }
  }

  .features__number {
    font-size: 58px;
  }
}

@media (max-width: $mobile_width) {
  .features {
    margin-bottom: 132px;
  }

  .features__wrapper {
    padding: 0;
  }

  .features__title {
    margin-bottom: 44px;
  }

  .features__item {
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;

    &--area {
      margin-bottom: 33px;
    }

    &--parking {
      margin-bottom: 44px;

      .features__number {
        margin-bottom: 6px;
      }
    }

    &--equipment {
      position: relative;
      margin-bottom: 39px;
      padding: 34px 70px 46px;

      h3 {
        margin: 0;
        margin-bottom: 12px;
      }

      p {
        padding: 0;
      }
    }

    &--amenities {
      margin-bottom: 33px;

      .features__number {
        margin-bottom: 10px;
      }
    }

    &--experience {
      .features__number {
        margin-bottom: 9px;
      }

      .features__desc {
        width: 72%;
      }
    }
  }

  .features__number {
    margin: 0;
    margin-bottom: 6px;
  }
}
