.gym {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
  margin: 0 auto;
  margin-bottom: 231px;
  padding: 0 $padding_tablet;
}

.gym__info {
  width: 100%;
  max-width: 355px;
  margin-left: 60px;
}

.gym__title {
  margin: 0;
}

.gym__tagline {
  display: block;
  margin-bottom: 41px;
  font-size: 18px;
  line-height: 1.5;
}

.gym__desc {
  margin: 0;
  font-weight: $font_light;
  line-height: 1.5;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.gym__picture {
  position: relative;
  margin-top: -39px;
}

.gym__img {
  width: 660px;
  height: 401px;
}

.gym__video {
  position: absolute;
  top: 68%;
  left: 38.6%;
  width: 364px;
  height: 228px;
  background-color: $color_black;

  &:hover .gym__video-btn {
    opacity: 1;
  }
}

.gym__video-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(#14367a, 0.5);
  }
}

.gym__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.gym__video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  display: block;
  padding: 0;
  width: 100px;
  height: 100px;
  opacity: 0.8;
  border: none;
  background-color: transparent;
  background-image: url("../img/video-button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  transform: translate(-50%, -50%);
  transition: all $transition_fn;
  cursor: pointer;

  &:focus {
    opacity: 1;
  }
}

@media (max-width: $tablet_width) {
  .gym {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 179px;
  }

  .gym__info {
    max-width: 502px;
    margin: 0;
    margin-bottom: 75px;
  }

  .gym__title {
    margin-bottom: 11px;
  }

  .gym__tagline {
    margin-bottom: 34px;
  }

  .gym__desc {
    display: none;

    &--desktop {
      display: block;
    }
  }

  .gym__img {
    width: 678px;
    height: 345px;
  }

  .gym__video {
    top: 84.7%;
    left: 50%;
    width: 266px;
    height: 167px;
    transform: translateX(-50%);
  }

  .gym__video-btn {
    width: 73px;
    height: 73px;
  }
}

@media (max-width: $mobile_width) {
  .gym {
    margin-bottom: 272px;
    padding: 0;
  }

  .gym__title {
    margin-bottom: 7px;
  }

  .gym__tagline {
    margin-bottom: 24px;
  }

  .gym__info {
    margin-bottom: 65px;
    padding: 0 $padding_mobile;
    text-align: left;
  }

  .gym__desc {
    padding-right: 35px;
  }

  .gym__img {
    width: 320px;
    height: 313px;
  }

  .gym__video {
    top: 106%;
    width: 320px;
  }
}
